@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lilita+One&display=swap');
.forgot{
  box-shadow: 0 2px 10px  #8f8f8f;
  margin: auto;
}
.forgot-text{
  font-family: 'Lilita One', sans-serif;
  font-size: 30px;
}

@media (min-width: 768px) {
  .forgot{
    width: 50%;
  }
}
@media (min-width: 992px) {
  .forgot{
    width: 30%;
  }

}